
/*
  I       I
  I       I
  I       I
  IIIIIIIII
  I       I
  I       I
  I       I
  I       I
*/

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
  }
  
  header .logo {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
  }
  
  header .logo span {
    margin: 0 auto;
    width: 50%;
    font-family: "Shrikhand";
    font-size: 32px;
  }
  